body{
    background-color: #ffffff;
    padding-top: 2%;
    background-image: linear-gradient(to right, #CE0E2D , #ffc4d5);
}
.containerDetails{
    background-color: white;
    padding-top: 3%;
}

.cotnainerList{
    padding-top: 3%;
}